@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sin ubicación fija.<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:alinper2@gmail.com">alinper2@gmail.com</a><br />
</address>